<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="{{ url_for('static', filename='ico/barimg.png') }}" alt="Navbar">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
              <a class="nav-link disabled" href="#" onload="showTime()">
                  <div id="MyClockDisplay" class="clock" onload="showTime()"></div>
              </a>
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Account
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/acc#login=false&accountKey={{ session['accKey']}}">Sign Up</a>
            <a class="dropdown-item" href="/acc?login=true">Login</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/accOptions">Options</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Games
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/games/technomancy/">Technomancy</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/accOptions">Options</a>
          </div>
        </li> 
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Groups
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/games/technomancy/">Eve</a>
            <div class="dropdown-divider"></div>
          </div>
        </li> 
        <li class="nav-item">
                  <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              </form>
        </li>
      </ul>
      
          <li class="nav-item">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </li>
    </div>
  </nav>